
.form-input {
    width: 200px;
    max-width: 90%;
    display: inline-block;
    margin: 10px;
    &.wider-input {
        width: 300px;
    }
}

.table-wrapper {
    width: 90vw;
    table {
        width: 100%;
    }
}

.update-button {
    color: gray;
    &:hover {
        color: rgb(230, 193, 28);
        transform: scale(1.2);
    }
}

.delete-button {
    color: gray;
    &:hover {
        color: rgb(235, 20, 20);
        transform: scale(1.2);
    }
}

mat-icon {
    text-align: left;
    &.checked {
        color: green;
    }
    &.not-checked {
        color: red;
    }
}

mat-checkbox {
    margin: auto 15px;
}

button {
    margin-right: 10px;
}