
.form-input {
    width: 200px;
    max-width: 90%;
    display: inline-block;
    margin: 10px;
    &.wider-input {
        width: 300px;
    }
}

.table-wrapper {
    width: 90vw;
    table {
        width: 100%;
    }
}
