@import '../../assets/scss/_variables.scss';

.form-input {
    width: 200px;
    max-width: 90%;
    display: inline-block;
    margin: 10px;
    &.wider-input {
        width: 300px;
    }
}

.table-wrapper {
    width: 90vw;
    table {
        width: 100%;
    }
}

.update-button {
    color: gray;
    &:hover {
        color: $primary;
        transform: scale(1.2);
    }
}

.delete-button {
    color: gray;
    &:hover {
        color: $secondary;
        transform: scale(1.2);
    }
}

mat-icon {
    text-align: left;
    &.checked {
        color: $primary;
    }
    &.not-checked {
        color: $secondary;
    }
}

mat-checkbox {
    margin: auto 15px;
}

:host ::ng-deep {
    .mat-checkbox-checked .mat-checkbox-background {
        background-color:  $primary ;
    }
    .mat-focused .mat-form-field-label{
        color: $primary ;
    } 
    .mat-focused .mat-form-field-ripple {
        background-color: $primary ;
    }
} 

.mat-option.mat-active {
    color: $primary !important;
}

button {
    margin-right: 10px;
}