/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-wrapper {
    min-height: calc(100vh - 56px);
    padding: 20px;
}

.clickable {
    user-select: none;
    cursor: pointer;
}