@import '/assets/scss/_variables.scss';

html,
body {
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    height: calc(100vh - 64px);
    padding: 20px;
    &.front {
        background: $dark;
    }
}

.clickable {
    user-select: none;
    cursor: pointer;
}

.toolbar-icon {
    padding: 0 14px;
  }
  
.toolbar-spacer {
flex: 1 1 auto;
}

.url-link {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 5px;
    &:hover {
        color: rgb(105, 27, 168);
    }
    &:last-of-type {
        border-bottom: 1px solid transparent;
    }
}

mat-sidenav {
    width: 400px;
    max-width: 400px;
}

mat-drawer-container.mat-drawer-container {
    height: calc(100% - 64px);
}

.open-chat.mat-raised-button {
    position: absolute;
    background: $primary;
    color: $light;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    box-shadow: 1px 1px 20px 1px gray;
}
input {
    outline: 0;
    border: 1px solid transparent;
    &:hover, &:focus {
        outline: 0;
    }
}