@import '../../assets/scss/_variables.scss';

.chat-live {
    background-image: 
        linear-gradient(
            to right, 
            rgba(36, 122, 122, 0.3),  
            rgba(255, 255, 255, 0.6)),  
        url('../../assets/chat/chat-back.jpg');
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 45px;
    padding-right: 5px;
    height: 100%;
    position: relative;
}

.chat-header {
    margin: 0;
    border-bottom: 1px solid $secondary;
    padding: 10px 20px;
    span {
        font-size: 18px;
        color:  black;
        font-weight: normal;
    }
    .chat-username {
        background: white;
        border: 1px solid  $secondary;
        border-radius: 5px;
        padding: 8px;
        display: inline-block;
        width: 200px;
        font-size: 16px;
        margin-left: 10px;
        background: lighten($secondary, 67);
        &:focus {
            background: lighten($secondary, 62)
        }
    }
}

.chat-history {
    overflow-y: auto;
    height: calc(100% - 70px);
    margin: 10px 0;
    .single-message {
        padding: 5px 10px;
        font-size: 16px;
        display: block;
        margin: 5px;
        max-width: 320px;
        text-align: left;
        color: black;
        word-break: break-word;
        .chat-cloud {
            background: lighten($light, 4);
            border: 1px dotted gray;
            padding: 5px 20px 5px 10px;
            border-radius: 10px;
            display: inline-block;
            cursor: grab;
            &:hover {
                background: $light;
            }
        }
        .chat-name {
            color: gray;
            font-size: 14px;
        }
        &.user {
        text-align: right;
            .chat-cloud {
                padding: 5px 10px 5px 20px;
                background: lighten( $primary, 65);
                border: 1px dotted $primary;
                &:hover {
                    background: lighten( $primary, 62);
                }
            }
        }
    }
}


.chat-input {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: lighten( $primary, 65);
    border-top: 1px solid $primary;
    padding: 10px 15px;
    font-size: 15px;
    &:focus {
        background: lighten( $primary, 60);
    }
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $light; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: lighten( $primary, 50);
    &:hover {
        background: lighten( $primary, 20);
    }
}