.chat-title {
    background: rgb(175, 164, 194);
    padding:10px 20px;
    font-size: 15px;
    color: white;
    &:hover {
        background: rgb(157, 139, 187);
    }
}

.chat-live {
    background: rgb(252, 255, 254);
    padding: 10px 20px;
    color: black;
    height: 100%;
    position: relative;
    padding-bottom: 45px;
}

.chat-header {
    margin: 0;
    color: #673ab7;
    border-bottom: 1px solid rgb(175, 164, 194);
    padding: 10px 20px;
    font-weight: normal;
    font-size: 16px;
}

.chat-history {
    overflow-y: auto;
    height: calc(100% - 70px);
    margin: 10px 0;
    p {
        padding: 5px 10px;
        font-size: 15px;
        display: block;
        margin: 5px;
        text-align: left;
        .chat-cloud {
            background: rgb(203, 225, 233);
            padding: 5px 10px;
            border-radius: 10px;
            display: inline-block;
        }
        .chat-name {
            color: gray;
            font-size: 12px;
        }
        &.user {
        text-align: right;
            .chat-cloud {
                background: rgb(220, 233, 203);
            }
        }
    }
}

.chat-message {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgb(250, 244, 225);
    border-top: 1px solid rgb(245, 229, 176);
    padding: 10px 15px;
    font-size: 15px;
}

.chat-username {
    background: #f8f8f8;
    border-bottom: 2px solid purple;
    border-radius: 5px 5px 0 0;
    padding: 8px;
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}
