
  <div  class="chat-live">
    <!-- Choose Name -->
    <h5
      class="chat-header clickable"
      (change)="setUsername()" >
      Izaberi ime:
      <input
        class="chat-username"
        maxlength="25"
        [(ngModel)]="username"
        (click)="onNameChange($event)"/>
    </h5>

    <!-- Chat history -->
    <div 
      #content 
      class="chat-history" 
      (scroll)="onScroll()">
      <p 
        *ngFor="let chat of chatHistory" 
        class="single-message"
        [class.user]="chat.name === username">
        <span class="chat-cloud">
          <span class="chat-name" >
            {{ chat.name }}
          </span>
          <br />
          {{ chat.message }}
        </span>
      </p>
    </div>

    <!-- Chat input -->
    <input
      #currentMessage
      class="chat-message"
      placeholder="Kucaj poruku..."
      [(ngModel)]="chatMessage"
      (keyup.enter)="onSend(currentMessage.value); currentMessage.value = ''"
      (keyup.esc)="currentMessage.value = ''"
    />
  </div>
