<div class="page-wrapper">

    <mat-grid-list cols="3" rowHeight="300px" gutterSize="22px">
        <!-- Single Tile -->
        <mat-grid-tile  *ngFor="let tile of tiles" >

            <div class="inner-tile">

                <!-- Header -->
                <h4 class="tile-header">{{tile.header | titlecase}}</h4>

                <!-- URL List -->
                <div class="url-list">
                    <a 
                        class="url-link" 
                        [href]="'http://' + item.link" 
                        target="_blank"
                        *ngFor="let item of tile.list">
                        {{ item.name }}
                    </a>
                </div>

                <!-- Button -->
                <button 
                    mat-raised-button 
                    class="complete-list-button" 
                    (click)="goToList(tile.header)">
                        Kompletna lista
                </button>
                <img 
                    class="panda-logo"
                    src="/assets/logo/gde-da-gledam-panda.png" 
                    alt="Geda da gledam panda">

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>