<div class="page-wrapper">
  <mat-grid-list cols="3" rowHeight="300px" gutterSize="22px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <div class="inner-tile">
            <h4>{{tile.header}}</h4>
            <div class="url-list">
              <a class="url-link" href="item" *ngFor="let item of tile.list ">{{item}}</a>
            </div>
            
            <button mat-raised-button color="accent" class="mi-button" (click)="goToList(tile.header)">Pogledaj celu listu</button>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>