<mat-toolbar>
	<mat-toolbar-row>
		<span class="clickable" (click)="onNavigate('/home')">
			<img
				src="/assets/logo/gde-da-gledam.svg"
				alt="Gde da gledam logo" />
		</span>
		<span class="toolbar-spacer"> </span>
		<button *ngIf="user && user.id===adminID "
			mat-raised-button 
			class="header-button admin"
			(click)="onNavigate('/admin')">
			Admin Panel
			<mat-icon class="toolbar-icon clickable" >
				dashboard
			</mat-icon>
		</button>
		<button *ngIf="!user"
			mat-raised-button 
			class="header-button auth"
			(click)="onNavigate('/login')">
			Register / Login
			<mat-icon class="toolbar-icon clickable" >
				account_circle
			</mat-icon>
		</button>
		<button *ngIf="user"
			mat-raised-button 
			class="header-button auth"
			(click)="onLogout()">
			Logout
			<mat-icon class="toolbar-icon clickable" >
				clear
			</mat-icon>
		</button>
		<button *ngIf="user"
			mat-flat-button 
			class="header-button user">
			<img
				[title]="user.name"
				[src]="user.photoUrl"
				[alt]="user.name">
		</button>
	</mat-toolbar-row>
</mat-toolbar>
