@import '../../assets/scss/_variables.scss';

mat-toolbar {
    background: $light;
    border-bottom: 2px solid $primary;
}

img {
    height: 40px;
    margin-top: 5px;
}

.toolbar-icon {
    margin-right: 20px;
}