@import '../../assets/scss/_variables.scss';

mat-toolbar {
    background: $light;
    border-bottom: 2px solid $primary;
}

img {
    height: 40px;
    margin-top: 5px;
}

.toolbar-icon {
    margin-right: 20px;
}

.header-button {
    margin-left: 10px;
    color: white;
    mat-icon {
        font-size: 20px;
        margin: 0;
    }
    &.auth {
        background: $primary;
    }
    &.admin {
        background: $secondary;
    }
    &.user {
        background: transparent;
        img {
            margin: 0;
            border-radius: 5px;
        }
    }
}