mat-list {
    height: 80vh;
    overflow-y: auto;
}


.mat-list-item {
    border-bottom: 1px solid rgb(189, 186, 189);
    vertical-align: middle;
    &:hover {
        background: rgb(255, 251, 215);
        border-bottom: 1px solid rgb(202, 42, 202);
        a.url-link {
            color: rgb(202, 42, 202); 
        }
    }
    a.url-link {
        padding-top: 15px;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    span {
        color: rgb(202, 42, 202);
        display: inline-block;
        vertical-align: middle;
    }
}

.mat-list-base {
    padding: 0;
}