@import '../../assets/scss/_variables.scss';

mat-toolbar-row {
    border-bottom: 2px solid $primary;
    background: #fafafa;
    color:  $primary;
    .back-button {
        background-color: $primary;
        color: white;
    }
}

mat-card {
    width: calc(100% / 5 - 20px);
    margin: 10px;
    display: inline-block;
    &:hover {
        box-shadow: 1px 1px 20px 1px gray;
    }
}

mat-card-title {
    color: $secondary;
}

button {
    color: $secondary;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    margin: 0;
}